*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

img,
svg,
canvas,
video {
  max-width: 100%;
  display: block; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font: inherit; }

input,
label,
select,
textarea {
  font: inherit; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none;
  font: inherit;
  color: inherit; }

:root {
  --loading-page-bk-clr: hsl(0, 0%, 5%);
  --scroll-thumb-bk-clr: #333333;
  --scroll-track-bk-clr: #b3b3b3;
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);
  --primary-title: 2.5rem;
  --secondary-title: 2rem;
  --third-title: 1.25rem;
  --fourth-title: 1.75rem;
  --fifth-title: 1.5rem;
  --primary-para: 1.25rem;
  --secondary-para: 1.125rem;
  --third-para: 1rem;
  --fourth-para: 1rem;
  --body-scroll-hide: none; }

body {
  min-height: 100dvh;
  position: relative;
  isolation: isolate;
  font-family: "Lato", sans-serif; }

.flex {
  display: flex;
  align-items: center;
  gap: 1rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; }

body::-webkit-scrollbar {
  width: 5px;
  display: var(--body-scroll-hide); }

body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-thumb-bk-clr); }

body::-webkit-scrollbar-track-piece {
  background-color: var(--scroll-track-bk-clr); }

.main {
  --home-gap: 0rem; }

.home__section {
  --intro-padding: 0 4.5rem;
  --intro-btn-padding: 0.5rem 1.5rem;
  --intro-gap: 12rem;
  --intro-txt-gap: 3.5rem;
  --intro-link-gap: 0.5rem;
  --primary-title-mg-bttm: 0.5rem;
  --intro-link-mg-bttm: 4.5rem;
  --intro-btn-fs: 1.125rem;
  --intro-link-fs: 0.85rem;
  --occ-fs: 1.125rem;
  gap: var(--home-gap);
  grid-template-columns: 1fr 1fr; }

.intro {
  justify-content: center;
  grid-template-rows: 1fr auto;
  padding: var(--intro-padding);
  gap: var(--intro-gap);
  position: fixed;
  inset: 0 50% 0 0; }

.others {
  position: relative;
  grid-column: 2/4; }

.intro__txt {
  gap: var(--intro-txt-gap);
  justify-items: flex-start;
  align-self: flex-end; }

.txt__box > .primary--title {
  margin-bottom: var(--primary-title-mg-bttm); }

.occ {
  font-size: var(--occ-fs); }

.intro__link {
  font-weight: 600;
  font-size: var(--intro-link-fs);
  align-self: flex-end;
  gap: var(--intro-link-gap);
  margin-bottom: var(--intro-link-mg-bttm); }

.link {
  font-weight: 400;
  border-bottom: 1px solid var(--black-clr); }

.profile-img {
  background-image: url(../../Image/img-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about__section {
  --about-section-padding: 3.25rem 3.5rem;
  --skill-padding: 0.5rem 1rem;
  --about-section-gap: 2.5rem;
  --about-one-gap: 2rem;
  background-color: antiquewhite;
  gap: var(--about-section-gap);
  align-content: start;
  padding: var(--about-section-padding); }

.about__section::-webkit-scrollbar {
  display: none; }

.about__one {
  gap: var(--about-one-gap); }

.skill__box {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); }

.skill {
  text-align: center;
  border: 2px solid var(--black-clr);
  padding: var(--skill-padding);
  border-radius: 0.25rem;
  font-weight: 500; }

.project {
  --txt-box-two-padding: 2rem 3.5rem 0.5rem 3.5rem;
  --project-gap: 1rem;
  --txt-box-two-gap: 0.5rem;
  --see-all-project-fs: 1.125rem;
  --see-project-link-mg-bttm: 1.75rem;
  background-color: #26a69a;
  grid-template-rows: auto 1fr auto;
  gap: var(--project-gap); }

.txt__box-two {
  padding: var(--txt-box-two-padding);
  align-content: start;
  gap: var(--txt-box-two-gap); }

.see-project__link {
  justify-self: center;
  font-size: var(--see-all-project-fs);
  margin-bottom: var(--see-project-link-mg-bttm); }

.preloader {
  position: fixed;
  inset: 0;
  z-index: 10;
  color: var(--white-clr);
  background-color: var(--loading-page-bk-clr);
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
  justify-content: center;
  text-align: center;
  gap: 0rem; }
  .preloader .pre-txt {
    font-size: 2rem;
    font-weight: 400;
    padding-inline: 1.5rem; }
  .preloader .pre-span-two {
    margin-left: 0.5rem;
    font-weight: 200; }

.pre-span-one {
  opacity: 1;
  transition: opacity ease-in 0.3s; }

.pre-span-two {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.2s; }

.intro__btn {
  font-size: var(--intro-btn-fs);
  border: 3px solid var(--black-clr);
  padding: var(--intro-btn-padding);
  border-radius: 100px; }

.carousel {
  --carousel-txt-padding: 0.75rem 1.5rem;
  --carousel-box-gap: 1.5rem;
  --carousel-txt-gap: 0.5rem;
  --carousel-img-height: 70dvh;
  --carousel-img-width: 100%;
  --carousel-grid-auto-clm: minmax(300px, 600px);
  --fifth-title-mg-bttm: 0.5rem;
  --carousel-icon-fs: 1.5rem;
  overflow: hidden;
  align-self: center;
  display: grid;
  gap: var(--carousel-box-gap);
  grid-auto-flow: column;
  grid-auto-columns: var(--carousel-grid-auto-clm);
  scroll-behavior: smooth; }
  .carousel::-webkit-scrollbar {
    display: none; }
  .carousel__card {
    position: relative; }
  .carousel__img > img {
    border-radius: 0.5rem;
    height: var(--carousel-img-height);
    width: var(--carousel-img-width);
    object-fit: cover; }
  .carousel__txt {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .carousel__sub-txt {
    gap: var(--carousel-txt-gap);
    color: var(--white-clr);
    background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.27));
    padding: var(--carousel-txt-padding);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
    .carousel__sub-txt .txt__box-three > .fifth--title {
      margin-bottom: var(--fifth-title-mg-bttm); }
  .carousel__links {
    justify-content: flex-end; }
  .carousel__icon {
    font-size: var(--carousel-icon-fs); }

.primary--title {
  font-size: var(--primary-title); }

.secondary--title {
  font-size: var(--secondary-title); }

.third--title {
  font-size: var(--third-title); }

.fourth--title {
  font-size: var(--fourth-title); }

.fifth--title {
  font-size: var(--fifth-title);
  font-weight: 800;
  letter-spacing: 1px; }

.para--primary {
  font-size: var(--primary-para);
  font-weight: 600;
  line-height: 1.6; }

.para--secondary {
  font-size: var(--secondary-para);
  line-height: 1.5; }

.para--third {
  font-size: var(--third-para); }

.para--fourth {
  font-size: var(--fourth-para);
  line-height: 1.3; }

.preloader--hide {
  display: none; }

.preloader--deactive {
  opacity: 0; }

.sticky {
  position: sticky;
  top: 0;
  height: 100dvh; }

.carousel--selected {
  cursor: grab;
  user-select: none;
  scroll-behavior: auto; }

.hide {
  display: none; }

@media only screen and (max-width: 1200px) {
  .home__section {
    grid-template-columns: 1fr;
    --intro-gap: 10rem;
    --intro-txt-gap: 4rem; }
  .intro {
    position: sticky;
    top: 0;
    height: 100dvh; }
  .others {
    position: sticky;
    top: 0;
    grid-column: auto; }
  .about__section > * {
    max-width: 65ch;
    width: 100%; } }

@media only screen and (max-width: 700px) {
  :root {
    --primary-para: 1.125rem; }
  .home__section {
    --intro-padding: 2rem;
    --intro-link-mg-bttm: 1.5rem; }
  .others__subbox > * {
    position: relative;
    height: auto;
    min-height: 100dvh; }
  .about__section {
    --about-section-padding: 2.5rem 2rem;
    --about-one-gap: 1.5rem; }
  .project {
    --txt-box-two-padding: 2.5rem 2rem 0.5rem 2rem; } }

@media only screen and (max-width: 500px) {
  :root {
    --primary-title: 2.25rem;
    --fifth-title: 1.35rem;
    --primary-para: 1.1rem;
    --secondary-para: 1.1rem;
    --third-para: 0.95rem;
    --fourth-para: 0.95rem; }
  .home__section {
    --intro-padding: 2rem 1.5rem;
    --intro-btn-fs: 1.1rem;
    --intro-link-fs: 0.825rem;
    --occ-fs: 1.1rem; }
  .about__section {
    --about-section-padding: 2.25rem 1.5rem;
    --about-one-gap: 1.25rem; }
  .project {
    --txt-box-two-padding: 2.25rem 1.5rem 0.5rem 1.5rem;
    --see-project-link-mg-bttm: 3rem; }
  .carousel {
    --carousel-img-height: 65dvh; } }
