*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

img,
svg,
canvas,
video {
  max-width: 100%;
  display: block; }

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font: inherit; }

input,
label,
select,
textarea {
  font: inherit; }

ul,
li {
  list-style: none; }

a {
  text-decoration: none;
  font: inherit;
  color: inherit; }

:root {
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%); }

body {
  min-height: 100dvh;
  position: relative;
  isolation: isolate;
  font-family: "Lato", sans-serif; }

.flex {
  display: flex;
  align-items: center;
  gap: 1rem; }

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem; }

.main {
  --home-gap: 0rem; }

.home__section {
  gap: var(--home-gap);
  grid-template-columns: 1fr 1fr;
  --intro-padding: 0 4.5rem;
  --intro-gap: 12rem;
  --intro-txt-gap: 3.5rem;
  --intro-link-gap: 0.5rem;
  --primary-title-mg-bttm: 0.5rem;
  --intro-link-mg-bttm: 4.5rem;
  --intro-link-fs: 0.8rem;
  --occ-fs: 1.125rem; }

.intro {
  justify-content: center;
  grid-template-rows: 1fr auto;
  padding: var(--intro-padding);
  gap: var(--intro-gap);
  position: fixed;
  inset: 0 50% 0 0; }

.others {
  position: relative;
  grid-column: 2/4; }

.intro__txt {
  gap: var(--intro-txt-gap);
  justify-items: flex-start;
  align-self: flex-end; }

.txt__box > .primary--title {
  margin-bottom: var(--primary-title-mg-bttm); }

.occ {
  font-size: var(--occ-fs); }

.intro__link {
  font-weight: 600;
  font-size: var(--intro-link-fs);
  align-self: flex-end;
  gap: var(--intro-link-gap);
  margin-bottom: var(--intro-link-mg-bttm); }

.link {
  font-weight: 400;
  border-bottom: 1px solid var(--black-clr); }

.profile-img {
  background-image: url(../../Image/img-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

.about__section {
  --about-section-padding: 3.25rem 3.5rem;
  --skill-padding: 0.5rem 1rem;
  --about-section-gap: 2.5rem;
  --about-one-gap: 2rem;
  background-color: antiquewhite;
  gap: var(--about-section-gap);
  align-content: start;
  padding: var(--about-section-padding); }

.about__one {
  gap: var(--about-one-gap); }

.skill {
  border: 2px solid var(--black-clr);
  padding: var(--skill-padding);
  border-radius: 0.25rem;
  font-weight: 500; }

.project {
  --txt-box-two-padding: 3.25rem 3.5rem 0.5rem 3.5rem;
  --project-gap: 2.25rem;
  --txt-box-two-gap: 0.5rem;
  background-color: #26a69a;
  align-content: start;
  gap: var(--project-gap); }

.txt__box-two {
  padding: var(--txt-box-two-padding);
  align-content: start;
  gap: var(--txt-box-two-gap); }

.intro__btn {
  font-size: 1.125rem;
  border: 3px solid #000;
  padding: 0.5rem 1.5rem;
  border-radius: 100px; }

.project__btn {
  font-size: 1.125rem;
  border: 3px solid #000;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
  justify-self: center;
  margin-top: 0.75rem; }

.carousel {
  --carousel-txt-padding: 0.75rem 1.5rem;
  --carousel-box-gap: 1.5rem;
  --carousel-txt-gap: 1rem;
  --carousel-img-height: 60dvh;
  --carousel-img-width: 100%;
  --carousel-grid-auto-clm: minmax(300px, 600px);
  --fifth-title-mg-bttm: 0.5rem;
  --carousel-icon-fs: 1.5rem;
  overflow-x: scroll; }
  .carousel::-webkit-scrollbar {
    display: none; }
  .carousel__box {
    display: grid;
    gap: var(--carousel-box-gap);
    grid-auto-flow: column;
    grid-auto-columns: var(--carousel-grid-auto-clm); }
  .carousel__card {
    position: relative; }
  .carousel__img > img {
    border-radius: 0.5rem;
    height: var(--carousel-img-height);
    width: var(--carousel-img-width);
    object-fit: cover; }
  .carousel__txt {
    color: var(--white-clr);
    position: absolute;
    inset: 65% 0 0 0;
    background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.27));
    align-content: flex-end;
    gap: var(--carousel-txt-gap);
    padding: var(--carousel-txt-padding);
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem; }
    .carousel__txt .txt__box-three > .fifth--title {
      margin-bottom: var(--fifth-title-mg-bttm); }
  .carousel__links {
    justify-content: flex-end; }
  .carousel__icon {
    font-size: var(--carousel-icon-fs); }

.primary--title {
  font-size: 2.5rem; }

.secondary--title {
  font-size: 2rem; }

.third--title {
  font-size: 1.25rem; }

.fourth--title {
  font-size: 1.75rem; }

.fifth--title {
  font-size: 1.5rem; }

.para--primary {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6; }

.para--secondary {
  font-size: 1.125rem;
  line-height: 1.5; }

.para--third {
  font-size: 1rem; }

.para--fourth {
  font-size: 1rem; }

.sticky {
  position: sticky;
  top: 0;
  height: 100dvh; }
