@media only screen and (hover: hover) {
  .btn::after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;

    width: 0%;
    height: 100%;
    border-radius: 100px;

    transition: width 0.3s ease-in;
  }

  .intro__btn::after {
    background-color: var(--intro-btn-bk-hover-clr);
  }

  .btn:hover {
    color: var(--white-clr);
    gap: 1rem;
    border-color: #fff;
  }

  .btn:hover::after {
    width: 100%;
    left: 0;
    right: auto;
  }

  .carousel__link {
    transition: opacity 0.3s ease-in;
  }

  .link {
    transition: border 0.3s ease-in;
  }

  .link:hover {
    border-bottom-color: transparent;
  }

  .see-project__link {
    transition: border 0.3s ease-in;
  }

  .see-project__link:hover {
    border-bottom-color: var(--see-project-hover-link-border-clr);
  }

  .carousel__sub-txt {
    height: 30%;
    transition: height 0.4s ease-in;
  }

  .showcase__sub-txt {
    cursor: pointer;
  }

  .showcase__card:has(.carousel__sub-txt:hover) .carousel__sub-txt {
    height: 100%;
    backdrop-filter: blur(4px);
  }

  .showcase__card:has(.carousel__sub-txt:hover) .para--fourth {
    -webkit-line-clamp: initial;
    font-size: 1.25rem;
  }

  .showcase__card:has(.carousel__sub-txt:hover) .fifth--title {
    font-size: 2.125rem;
  }
}

@media only screen and (hover: none) {
  .carousel__link {
    opacity: 1 !important;
  }
}

@media only screen and (max-width: 1200px) {
  .home__section {
    grid-template-columns: 1fr;

    // GAP
    --intro-gap: 10rem;
    --intro-txt-gap: 4rem;

    // HEIGHT & WIDTH
    --bulb-width: 8rem;
    --bulb-height: 8rem;

    // TOP & LEFT
    --bulb-top: -5px;
    --bulb-left: 5px;
  }

  .intro {
    position: sticky;
    top: 0;
    height: 100lvh;
  }

  .others {
    position: sticky;
    top: 0;
    grid-column: auto;
  }

  .about__section > * {
    max-width: 65ch;
    width: 100%;
  }
}

@media only screen and (max-width: 1000px) {
  .detail {
    // display: block;
    grid-template-columns: 1fr;
    grid-template-rows: 70% auto;
    // height: auto;

    &__img {
      background-attachment: fixed;
      // height: 70dvh;
    }
  }
}

@media only screen and (max-width: 700px) {
  :root {
    --primary-para: 1.125rem;
  }

  .home__section {
    --intro-padding: 2rem;

    // MARGIN
    --intro-link-mg-bttm: 1.5rem;
  }

  .others__subbox > * {
    position: relative;
    height: auto;
    min-height: 100lvh;
  }

  .about__section {
    // PADDING
    --about-section-padding: 2.5rem 2rem;

    // GAP
    --about-one-gap: 1.5rem;
  }

  .project {
    --txt-box-two-padding: 2.5rem 2rem 0.5rem 2rem;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --primary-title: 2.25rem;
    --fifth-title: 1.35rem;

    --primary-para: 1.1rem;
    --secondary-para: 1.1rem;
    --third-para: 0.95rem;
    --fourth-para: 0.95rem;

    // MARGIN
    --preloader-textOne-right-mg: 0rem;
  }

  .home__section {
    // PADDING
    --intro-padding: 2rem 1.5rem;

    // FONT-SIZE
    --intro-btn-fs: 1.1rem;
    --intro-link-fs: 0.825rem;
    --occ-fs: 1.1rem;

    // WIDTH & HEIGHT
    --intro-btn-width: 11rem;
    --intro-btn-height: 2.75rem;
    --bulb-width: 7rem;
    --bulb-height: 7rem;

    // TOP & LEFT
    --bulb-top: -10px;
    --bulb-left: -5px;
  }

  .detail {
    --detail-txt-padding: 2rem 1.5rem;
  }

  .about__section {
    // PADDING
    --about-section-padding: 2.25rem 1.5rem;

    // GAP
    --about-one-gap: 1.25rem;
  }

  .project {
    --txt-box-two-padding: 2.25rem 1.5rem 0.5rem 1.5rem;
  }

  .carousel {
    --carousel-img-height: 65lvh;
  }

  .see-project__link {
    margin-bottom: var(--see-project-link-mg-bttm);
  }

  .showcase {
    &__cards {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }
}
