.primary--title {
  font-size: var(--primary-title);
}

.secondary--title {
  font-size: var(--secondary-title);
}

.third--title {
  font-size: var(--third-title);
}

.fourth--title {
  font-size: var(--fourth-title);
}

.fifth--title {
  font-size: var(--fifth-title);
  font-weight: 800;
  letter-spacing: 1px;
}

.para--primary {
  font-size: var(--primary-para);
  font-weight: 600;
  line-height: 1.6;
}

.para--secondary {
  font-size: var(--secondary-para);
  line-height: 1.5;
}

.para--third {
  font-size: var(--third-para);
}

.para--fourth {
  font-size: var(--fourth-para);
  line-height: 1.3;
}
