.primary--title {
  font-size: 2.5rem;
}

.secondary--title {
  font-size: 2rem;
}

.third--title {
  font-size: 1.25rem;
}

.para--primary {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.6;
}

.para--secondary {
  font-size: 1.125rem;
  line-height: 1.5;
}

.occ {
  font-size: 1.125rem;
}
