.container__primary {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100lvh;
}

.hide {
  display: none;
}

.opacity-zero {
  opacity: 0;
}

.opacity-one {
  opacity: 1;
}

.darkMode {
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);

  // BACKGROUND CLR
  --loading-page-bk-clr: #000103;
  --intro-bk-clr: #0d1317;
  --about-section-bk-clr: #201e1f;
  --project-section-bk-clr: #2f1b25;
  --showcase-bk-clr: #0d1317;
  --project-header-bk-clr: #6eb5cf;
  --detail-bk-clr: #201e1f;
  --detail-txt-bk-clr: #201e1f;

  // BTN
  --intro-btn-bk-clr: transparent;

  // BTN HOVER
  --intro-btn-bk-hover-clr: #7cb4c4;
  --see-project-hover-link-border-clr: #fff;

  // TEXT CLR
  --occ-txt-clr: #000;
  --btn-text-clr: #fff;
  --soc-link-text-clr: #fff;
  --intro-link-txt-clr: #00a7db;
  --see-project-txt-clr: #fff;

  --primary-title-clr: #fff;
  --secondary-title-clr: #fff;
  --third-title-clr: #fff;
  --fourth-title-clr: #fff;
  --fifth-title-clr: #fff;

  --primary-para-clr: #fff;
  --secondary-para-clr: #fff;
  --third-para-clr: #fff;
  --fourth-para-clr: #fff;

  --occ-txt-clr: #00a7db;
  --skill-text-clr: #fff;

  // SHADOW
  --showcase-card-shadow: 0px 10px 15px 0px rgba(255, 255, 255, 0.3);

  // BORDER CLR
  --btn-border-clr: hsla(0, 0%, 100%, 0.5);
  --soc-link-border-clr: #fff;
  --skill-border-clr: #fff;
  --detail-pri-title-border-clr: hsla(0, 0%, 100%, 0.85);

  --bulb-wire-clr: pink;
  --bulb-cap-clr: #e8e5de;
  --bulb-outersurface-clr: #e9e1c3;
  --bulb-box-clr: #f19261;
  --bulb-filament-clr: #dfd4a4;
  --bulb-leftLead-clr: #fdf9d8;
  --bulb-rightLead-clr: #fff;
  --bulb-glowsurface-clr: #fff;
  --bulb-curve-clr: #251531;
  --bulb-shineArea-clr: #fff;
}
