.body--lock {
  // overflow: hidden;
}

.preloader--hide {
  display: none;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100dvh;
}

.hide {
  display: none;
}

.preloader--deactive {
  opacity: 0;
}
