.preloader {
  position: fixed;
  inset: 0;
  background-color: var(--loading-page-bk-clr);
  z-index: 200;

  // pointer-events: none;
  display: grid;
  place-items: center;

  &__home,
  &__showcase {
    opacity: 1;
    transition: opacity 0.3s 0.5s ease-in;
  }

  &__text {
    font-size: var(--preloader-fs);
    color: var(--white-clr);
    text-align: center;

    &-one {
      font-weight: 800;
      margin-right: var(--preloader-textOne-right-mg);
      opacity: 1;

      transition: opacity 0.3s ease-in;
    }

    &-two {
      font-weight: 400;
      opacity: 1;

      transition: opacity 0.3s 0.15s ease-in;
    }
  }

  .loading__circle {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 0.75rem solid var(--white-clr);
    border-top: 0.75rem solid var(--preloader-circle-clr);
    animation: loadingCircle 1.25s linear infinite;
  }

  @keyframes loadingCircle {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
