.intro__btn {
  font-size: 1.125rem;
  border: 3px solid #000;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;
}

.project__btn {
  font-size: 1.125rem;
  border: 3px solid #000;
  padding: 0.5rem 1.5rem;
  border-radius: 100px;

  justify-self: center;
  margin-top: 0.75rem;
}
