.intro__btn {
  font-size: var(--intro-btn-fs);
}

.see-project__btn {
  font-size: var(--see-all-project-fs);
}

.btn {
  border: 3px solid pink;
  padding: var(--btn-padding);
  border-radius: 100px;

  width: var(--btn-width);
  height: var(--btn-height);

  justify-content: center;
  gap: 0.5rem;

  position: relative;
  z-index: 1;
  overflow: hidden;

  transition: color 0.3s, gap 0.3s;
}
