.intro__btn {
  font-size: var(--intro-btn-fs);
  background-color: var(--intro-btn-bk-clr);
}

.see-project__btn {
  font-size: var(--see-all-project-fs);
  background-color: var(--project-btn-bk-clr);
  -webkit-tap-highlight-color: transparent;
}

.btn {
  color: var(--btn-text-clr);
  border: 3px solid var(--btn-border-clr);
  padding: var(--btn-padding);
  border-radius: 100px;

  width: var(--btn-width);
  height: var(--btn-height);

  justify-content: center;
  gap: 0.5rem;

  position: relative;
  z-index: 1;
  overflow: hidden;

  transition: color 0.3s, gap 0.3s;
}
