*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
svg,
canvas,
video {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

input,
label,
select,
textarea {
  font: inherit;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

:root {
  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);

  // BACKGROUND CLR
  --loading-page-bk-clr: #000103;
  --intro-bk-clr: #edf6f9;
  --about-section-bk-clr: #d3ffe9;
  --project-section-bk-clr: #6fb5cf;
  --showcase-bk-clr: #edf6f9;
  --project-header-bk-clr: #a0c4dc;
  --detail-bk-clr: #edf6f9;
  --detail-txt-bk-clr: #edf6f9;

  // PRELOADER
  --preloader-circle-clr: #00a7db;

  // BTN
  --intro-btn-bk-clr: transparent;

  // BTN HOVER
  --intro-btn-bk-hover-clr: #7cb4c4;
  --see-project-hover-link-border-clr: #000;

  // TEXT CLR
  --occ-txt-clr: #000;
  --btn-text-clr: #000;
  --soc-link-text-clr: #000;
  --intro-link-txt-clr: #00a7db;
  --see-project-txt-clr: #000;

  --primary-title-clr: #000;
  --secondary-title-clr: #2f4858;
  --third-title-clr: #2f4858;
  --fourth-title-clr: #000;
  --fifth-title-clr: #fff;

  --primary-para-clr: #000;
  --secondary-para-clr: #000;
  --third-para-clr: #000;
  --fourth-para-clr: #fff;

  --occ-txt-clr: #00a7db;
  --skill-text-clr: #000;

  // BORDER CLR
  --btn-border-clr: hsla(0, 0%, 0%, 0.5);
  --soc-link-border-clr: #000;
  --skill-border-clr: #000;
  --detail-pri-title-border-clr: hsla(0, 0%, 0%, 0.85);

  // SHADOW
  --showcase-card-shadow: 0px 12px 15px 5px rgba(0, 0, 0, 0.6);

  // BULB CLR
  --bulb-wire-clr: #000;
  --bulb-cap-clr: #4c4b49;
  --bulb-outersurface-clr: #525563;
  --bulb-box-clr: #a98043;
  --bulb-filament-clr: #666870;
  --bulb-leftLead-clr: #d8bba7;
  --bulb-rightLead-clr: #fff;
  --bulb-glowsurface-clr: #fff;
  --bulb-curve-clr: #336fa9;
  --bulb-shineArea-clr: #fff;

  // FONT
  --preloader-fs: 2rem;

  --primary-title: 2.5rem;
  --secondary-title: 2rem;
  --third-title: 1.25rem;
  --fourth-title: 1.75rem;
  --fifth-title: 1.5rem;

  --primary-para: 1.25rem;
  --secondary-para: 1.125rem;
  --third-para: 1rem;
  --fourth-para: 1rem;

  // MARGIN
  --preloader-textOne-right-mg: 0.25rem;
}

body {
  min-height: 100lvh;
  position: relative;
  isolation: isolate;

  font-family: "Lato", sans-serif;
  color: var(--body-text-clr);
}

.project__body {
  background-color: var(--showcase-bk-clr);
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
