*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img,
svg,
canvas,
video {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font: inherit;
}

input,
label,
select,
textarea {
  font: inherit;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  font: inherit;
  color: inherit;
}

:root {
  --loading-page-bk-clr: hsl(0, 0%, 5%);

  --white-clr: hsl(0, 0%, 100%);
  --black-clr: hsl(0, 0%, 0%);

  // FONT
  --primary-title: 2.5rem;
  --secondary-title: 2rem;
  --third-title: 1.25rem;
  --fourth-title: 1.75rem;
  --fifth-title: 1.5rem;

  --primary-para: 1.25rem;
  --secondary-para: 1.125rem;
  --third-para: 1rem;
  --fourth-para: 1rem;
}

body {
  min-height: 100dvh;
  position: relative;
  isolation: isolate;

  font-family: "Lato", sans-serif;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
