.detail {
  // PADDING
  --detail-txt-padding: 1.75rem 2rem;

  // GAP
  --detail-gap: 0rem;
  --detail-txt-gap: 1.5rem;
  --detail-sub-txt--one-gap: 1.25rem;
  --detail-sub-txt--two-gap: 0.75rem;
  --detail-links-gap: 1.25rem;
  --detail-lists-gap: 0.5rem;

  // FONT
  --detail-link-icon-txt-fs: 1.75rem;

  // MARGIN
  --detail-lists-margin-top: 0.75rem;

  display: grid;
  grid-template-columns: 1fr 1.25fr;
  gap: var(--detail-gap);
  min-height: 100lvh;
  background-color: var(--detail-bk-clr);

  &__img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &__txt {
    background-color: var(--detail-txt-bk-clr);
    align-self: flex-start;
    padding: var(--detail-txt-padding);
    gap: var(--detail-txt-gap);
  }

  &__sub-txt--one {
    align-items: flex-start;
    gap: var(--detail-sub-txt--one-gap);

    & > h1 {
      border-bottom: 0.25rem solid var(--detail-pri-title-border-clr);
    }
  }

  &__sub-txt--two {
    gap: var(--detail-sub-txt--two-gap);
    & > p {
      line-height: 1.8;
    }
  }

  &__links {
    justify-content: flex-end;
    gap: var(--detail-links-gap);
    a > * {
      font-size: var(--detail-link-icon-txt-fs);
      color: var(--detail-link-icon-clr);
      -webkit-tap-highlight-color: transparent;
    }
  }

  &__lists {
    gap: var(--detail-lists-gap);
    margin-top: var(--detail-lists-margin-top);

    & > li {
      list-style-type: circle;
    }
  }
}
