.main {
  // GAP
  --home-gap: 0rem;
}

.container {
}

.home__section {
  // PADDING
  --intro-padding: 0 3.5rem;
  --btn-padding: 0rem 0rem;

  // GAP
  --intro-gap: 12rem;
  --intro-txt-gap: 3.5rem;
  --intro-link-gap: 0.5rem;
  --intro-btn-gap: 0.5rem;

  // MARGIN
  --primary-title-mg-bttm: 0.5rem;
  --intro-link-mg-bttm: 4.5rem;

  // FONT-SIZ
  --intro-btn-fs: 1.125rem;
  --intro-link-fs: 0.85rem;
  --occ-fs: 1.125rem;

  // WIDTH & HEIGHT
  --btn-width: 12rem;
  --btn-height: 3rem;
  --bulb-width: 10rem;
  --bulb-height: 10rem;

  // TOP & LEFT
  --bulb-top: -15px;
  --bulb-left: 15px;

  gap: var(--home-gap);
  grid-template-columns: 1fr 1fr;
}

.intro {
  background-color: var(--intro-bk-clr);

  justify-content: center;
  grid-template-rows: 1fr auto;

  padding: var(--intro-padding);
  gap: var(--intro-gap);

  position: fixed;
  inset: 0 50% 0 0;

  .bulb {
    width: var(--bulb-width);
    height: var(--bulb-height);

    position: absolute;
    top: var(--bulb-top);
    left: var(--bulb-left);
  }

  &__txt {
    gap: var(--intro-txt-gap);
    justify-items: flex-start;

    align-self: flex-end;

    .txt__box > .primary--title {
      margin-bottom: var(--primary-title-mg-bttm);
    }

    .occ {
      font-size: var(--occ-fs);
      color: var(--occ-txt-clr);
    }
  }

  &__link {
    color: var(--intro-link-txt-clr);
    font-weight: 600;
    font-size: var(--intro-link-fs);

    align-self: flex-end;
    gap: var(--intro-link-gap);

    margin-bottom: var(--intro-link-mg-bttm);

    .link {
      color: var(--soc-link-text-clr);
      font-weight: 400;
      border-bottom: 1px solid var(--soc-link-border-clr);
    }
  }
}

.others {
  position: relative;
  grid-column: 2/4;
}

// Profile Image
.profile-img {
  background-image: url(../../Image/img-4.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

// About Section
.about__section {
  // PADDING
  --about-section-padding: 3.25rem 3.5rem;
  --skill-padding: 0.5rem 1rem;

  // GAP
  --about-section-gap: 2.5rem;
  --about-one-gap: 2rem;

  background-color: var(--about-section-bk-clr);

  gap: var(--about-section-gap);
  align-content: start;
  padding: var(--about-section-padding);
}

.about__one {
  gap: var(--about-one-gap);
}

.skill__box {
  grid-template-columns: repeat(auto-fit, minmax(6.25rem, 1fr));
  overflow-x: hidden;
}

.skill {
  text-align: center;

  border: 2px solid var(--skill-border-clr);
  padding: var(--skill-padding);
  border-radius: 0.25rem;
  font-weight: 500;

  color: var(--skill-text-clr);
}

#split-type {
  font-kerning: none;
}

// Projects
.project {
  // PADDING
  --txt-box-two-padding: 2rem 3.5rem 0.5rem 3.5rem;

  // GAP
  --project-gap: 1rem;
  --txt-box-two-gap: 0.5rem;

  // FONT
  --see-all-project-fs: 1.125rem;

  // MARGIN
  --see-project-link-mg-bttm: 0.75rem;

  background-color: var(--project-section-bk-clr);

  grid-template-rows: auto;
  gap: var(--project-gap);
}

.txt__box-two {
  padding: var(--txt-box-two-padding);
  align-content: start;
  gap: var(--txt-box-two-gap);
}

.see-project__link {
  justify-self: center;
}
