// HEADER
.project__header {
  // PADDING
  --project-header-padding: 0.75rem 1rem;

  // FONT SIZE
  --darkmode-fs: 2rem;

  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--project-header-bk-clr);
  padding: var(--project-header-padding);

  &_subbox {
    justify-content: space-between;
  }
}

.icon__box {
  & > * {
    font-size: var(--darkmode-fs);
    cursor: pointer;
  }
}
// ------------------

// SHOWCASE
.showcase {
  // PADDING
  --showcase-padding: 1.5rem 1.5rem;

  // GAP
  --showcase-cards-gap: 2rem 1.75rem;

  padding: var(--showcase-padding);

  &__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--showcase-cards-gap);
  }

  &__card {
    box-shadow: var(--showcase-card-shadow);
  }

  &__sub-txt {
    overflow: hidden;
  }

  &__date {
    margin-right: auto;
  }
}
// -------------------
